autopep8
beautifulsoup4
bs4
certifi
cffi
chardet
click
cssselect
Flask
gevent
greenlet
gunicorn
idna
itsdangerous
Jinja2
lxml
MarkupSafe
pycodestyle
pycparser
pyquery
requests
schedule
soupsieve
urllib3
waitress
Werkzeug
pillow
markdown
pysondb